<div>{{ my_form.form_build_id }}
{{ my_form.form_token }}
{{ my_form.form_id }}
<div class="form">
    {{ my_form.first_name }}
    {{ my_form.last_name }}
    {{ my_form.subject }}
    {{ my_form.message }}
    {{ my_form.email }}
    {{ my_form.tel }}
    {{ my_form.actions }}
    <div id="myMessage"></div>
</div>
</div>
